.information
  :markdown
    Application Programming Interface
    =================================
    Developers are welcome to create visualizations and mashups based on these crowdsourced data.
    
    Please be considerate and cache responses from these APIs as appropriate.

    Zone Query
    ----------
    `http://www.ismyhouseflooded.com/index.json` lists all zones in most recently updated order.

    Report Query
    ------------
    `http://www.ismyhouseflooded.com/10150.json` lists all reports from zone 10150.
