.information
  :markdown
    คำถามที่พบบ่อย
    ============
    ในภัยพิบัติน้ำท่วม พ.ศ. 2554 หนึ่งในปัญหาที่ซ้ำเติมความเสียหายให้ร้ายแรงขึ้นอีกคือการขาดการประสานข้อมูลอย่างเป็นระบบ  
    การรายงานและแจ้งข่าวสารล้วนเป็นไปจากบนลงล่าง ซึ่งล่าช้าและไม่มีเอกภาพ

    เว็บไซต์ *บ้านฉันจมหรือยัง* มุ่งมั่นจะเป็นสื่อกลาง สำหรับผู้ที่ต้องการติดตามข่าวสารจากประชาชนหรือผู้ประสบภัยด้วยกันเอง  
    โดยให้ข้อมูลซึ่งชัดเจน รวดเร็ว และเปิดกว้างให้องค์กรต่าง ๆ นำไปต่อยอดได้ตามปรัชญา [Open Data](http://en.wikipedia.org/wiki/Open_data)

    ฉันอยู่เขต XXXXX ทำไมน้ำไม่เห็นท่วมอย่างที่แสดง
    ----------------------------------------
    รหัสไปรษณีย์หนึ่งสามารถครอบคลุมพื้นที่ได้หลายตำบลจนถึงหลายอำเภอ บ้านของท่านอาจจะไม่ท่วมแต่บ้านของคนอื่นในพื้นที่เดียวกัน  
    อาจจะท่วมแล้ว ตัวเลขเปอร์เซนต์ที่แสดงสื่อถึงความครอบคลุมของพื้นที่น้ำท่วม (เช่น 50% หมายถึงพื้นที่ราวครึ่งเขตไปรษณีย์นั้น  
    โดนท่วมแล้ว) *ไม่ได้บ่งชี้ระดับน้ำ หรือทำนายโอกาสที่น้ำจะท่วม*

    อนึ่ง โปรดระลึกว่าข้อมูลในเว็บ*เป็นเพียงสถิติจากการรายงานของผู้ใช้*หลายร้อยท่าน ไม่ใช่ข้อมูลจากดาวเทียมหรือมิเตอร์ใด ๆ ข้อมูล  
    จะมีความแม่นยำมากขึ้นเมื่อมีผู้รายงานจำนวนมาก ดังนั้นท่านสามารถช่วยได้โดยการแจ้งสถานการณ์ที่ถูกต้องจากพื้นที่ของท่าน

    ข้อมูลน้ำท่วมในหน้าแรก ทันสมัยแค่ไหน
    -------------------------------
    ข้อมูลที่แสดงในหน้าแรกคือสถิติภายในรอบ 12 ชม. ล่าสุด ข้อมูลเก่ากว่านั้นไม่ถูกนำมาคำนวณ ดังนั้นท่านสามารถรายงานสถานการณ์  
    ได้ใหม่ทุกวัน หรือทันทีที่มีความเปลี่ยนแปลงของระดับน้ำ

    จะทราบรหัสไปรษณีย์ได้อย่างไร
    ------------------------
    ค้นหาใน[เว็บไซต์ของไปรษณีย์ไทย](http://www.thailandpost.com/zipcode.php)

    ใครคือเจ้าของ *บ้านฉันจมหรือยัง*
    ----------------------------
    เว็บไซต์นี้ดำเนินการโดยนักพัฒนาอิสระ ไม่ได้ขึ้นกับการสนับสนุนขององค์กรหรือแหล่งทุนใด
