= content_tag_for :article, zone, data:{ symbol: zone.id } do
  %h3= zone.id
  .status
    - unless zone.positive_percent.nan?
      ท่วม
      = "%.0f%%" % zone.positive_percent
  .count ผู้รายงาน #{zone.reports_count} คน
