= content_tag_for :article, zone, class: zone.classification, data: zone.metadata do
  %h3= link_to zone, [zone]
  .status
    ท่วม
    = "%.0f%%" % zone.positive_percent
  .count ผู้รายงาน #{zone.reports_count} ท่าน
