body {
    background-image: url(background.png);
    margin: 4em 2em;
}
header {
    text-align: center;
    h1 {
        text-indent: -10000em;
        background-image: url(logo.png);
        background-repeat: no-repeat;
        margin: auto;
        width: 436px;
        height: 75px;
    }
}

form {
    input {
        font-size: 14px;
        padding: 0.5em;
    }
    input[type="submit"] {
        text-shadow: 0 1px 0 #fff;
        color: #666;
        padding: 0.5em 0.8em;
        border: 1px solid #a4a7ac;
        border-radius: 3px;
        background-image: linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -o-linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -moz-linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -webkit-linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -ms-linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.07, #e0e0e0),
            color-stop(0.77, #fefefe)
        );
        -webkit-box-shadow: inset 0 0 0 1px #f3f3f3;
        -moz-box-shadow: inset 0 0 0 1px #f3f3f3;
        box-shadow: inset 0 0 0 1px #f3f3f3;
    }
}
