@font-face {
    font-family: "palgo";
    src: url(palgo.otf);
}

body {
    margin: 0;
    h1, h2 {
        font-family: "palgo", "Lucida Grande", "Leelawadee", sans-serif;
        font-weight: normal;
    }
    h1 {
        font-size: 180%;
    }
    h2 {
        font-size: 140%;
    }
}

div#main {
    background-image: url(background.png);
    padding: 5em 2em 3em;
    text-align: center;
    header {
        background-image: url(separator.png);
        background-repeat: no-repeat;
        background-position: 50% 100%;
        padding-bottom: 3em;
        text-align: center;
        h1 {
            text-indent: -10000em;
            background-image: url(logo.png);
            background-repeat: no-repeat;
            margin: auto;
            width: 436px;
            height: 75px;
            a {
                float: left;
                width: 436px;
                height: 75px;
            }
        }
    }
}

div#sub {
    header {
        padding: 0.6em 1em;
        background-image: linear-gradient(bottom, #404755 0%, #5c6371 52%);
        background-image: -o-linear-gradient(bottom, #404755 0%, #5c6371 52%);
        background-image: -moz-linear-gradient(bottom, #404755 0%, #5c6371 52%);
        background-image: -webkit-linear-gradient(bottom, #404755 0%, #5c6371 52%);
        background-image: -ms-linear-gradient(bottom, #404755 0%, #5c6371 52%);
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, #404755),
            color-stop(0.52, #5c6371)
        );
        border: 1px solid #424958;
        -webkit-box-shadow: inset 0 1px 0 0 #898f99, inset 0 -1px 0 0 #4c525f;
        -moz-box-shadow: inset 0 1px 0 0 #898f99, inset 0 -1px 0 0 #4c525f;
        box-shadow: inset 0 1px 0 0 #898f99, inset 0 -1px 0 0 #4c525f;
        color: #ededed;
        text-shadow: 0 -1px 0 #23262c;
    }
}

form {
    input {
        font-size: 14px;
        padding: 0.5em;
    }
    input.postcode {
        letter-spacing: 0.2em;
        text-align: center;
    }
    input[type="submit"], button {
        text-shadow: 0 1px 0 #fff;
        color: #666;
        padding: 0.5em 0.8em;
        border: 1px solid #a4a7ac;
        border-radius: 3px;
        background-image: linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -o-linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -moz-linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -webkit-linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -ms-linear-gradient(bottom, #e0e0e0 7%, #fefefe 77%);
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.07, #e0e0e0),
            color-stop(0.77, #fefefe)
        );
        -webkit-box-shadow: inset 0 0 0 1px #f3f3f3;
        -moz-box-shadow: inset 0 0 0 1px #f3f3f3;
        box-shadow: inset 0 0 0 1px #f3f3f3;
        cursor: pointer;
        &:hover { border-color: #777; }
        &.clicked {
            background: #e0e0e0;
            color: #333;
        }
    }
}
