body {
    background-image: url(background.png);
    margin: 2em;
}
header {
    text-align: center;
    h1 {
        text-indent: -10000em;
        background-image: url(logo.png);
        background-repeat: no-repeat;
        margin: auto;
        width: 436px;
        height: 75px;
    }
}
