section#landing {
    text-align: center;
    margin: 2em auto;
    width: 500px;
    height: 200px;
    p {
        &.description {
            margin-bottom: 20px;
            font-size: 20px;
            text-shadow: 0 1px 0 #fff;
            color: #333;
        }
    }
    input {
        font-size: 16px;
        &[type="text"] { outline: none; }
    }
}
