// Place all the styles related to the zones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(dark_brick_wall.png);
}

section#landing {
  text-align: center;
  margin: 0 auto;
  h2 {
    margin: 2em 0 1em 0;
    font-size: 24px;
    text-shadow: 0 1px 0 #fff;
    color: #333;
    strong {
      color: #e00;
      margin: 0 0.1em;
    }
  }
  input, textarea, button {
    font-size: 14px;
    &[type="text"] { outline: none; }
  }
  div.form {
    width: 400px;
    margin: auto;
  }
}

.description {
  color: #333;
  text-shadow: white 0 1px 1px;
}

#new_report {
  dl {
    width: 400px;
    text-align: left;

    dt {
      clear: left;
      width: 80px;
      text-align: right;
      height: 30px;

      &.for_buttonset { padding-top: 2px; height: 24px; }
      &.for_text      { padding-top: 8px; height: 18px; }
    }

    dd {
      margin: -26px 0 0 90px;

      &.buttonset {
        padding-left: 2px;
        height: 36px;
      }
    }
  }
}

#zones {
  padding: 1em;
  min-height: 200px;
}

article.zone {
  background: #fff;
  font-family: sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top: 4px solid #fff;
  box-shadow: 0px 0px 2px #000;

  h3 {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
      width: 100%;
      display: block;
      padding: 0.5em 0;
    }
  }
  
  div.status {
    margin-top: 40px;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
  }

  div.count {
    bottom: 0;
    font-size: 11px;
    padding: 1em 0;
    width: 100%;
    background: #fff;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    color: #333;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
  }

  &.flooded {
    border-color: #ed1000;
    h3 {
      background: #ff3021;
      color: #fff;
      &:hover {
        background: #ed1000;
      }
    }
    div.status { color: #ff3021; }
  }

  &.dry {
    border-color: #81c425;
    h3 {
      background: #74af16;
      color: #fff;
      &:hover {
        background: #81c425;
      }
    }
    div.status { color: #74af16; }
  }
}

.feed {
  margin: 0;
  width: 500px;
  padding: 0;
  background: #fcf4cf;
  font-size: 13px;
  list-style: none;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;

  li {
    margin: 0;
    padding: 3px 5px;
    border-top: 1px solid #fcf7e2;
    border-bottom: 1px solid #f3e9bb;
    color: #333;

    &:last-child {
      border-bottom: none;
    }
  }
}
